@page
@model IndexModel
@{
    ViewData["Title"] = "Contoso University";
}
<section style="width:80%;margin-left:auto;margin-right:auto;">
<h1 style="text-align:center;" class="display-3">Contoso University<br />Home of the Condors</h1>
    <img src="images/birdview.jpg" alt="stadium" style="max-height:200px;"/>
    <img src="images/frontstate.jpg" alt="front of building" style="max-height:200px;" />
    <img src="images/students.jpg" alt="Students" style="max-height:200px;" />
</section>